.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #000;
}

.board {
  width: 200px;
  height: 400px;
  background-color: #625d5d;
}

.cell {
  float: left;
  width: 20px;
  height: 20px;
  border: solid 1px #000;
}

.block {
  width: 18px;
  height: 18px;
  background-color: #8a0f9b;
  border: solid 1px #fff;
}
